.tuning-container{
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle, rgba(2,0,36,0.7260037804184174) 0%, rgba(27,153,139,1) 35%, rgba(20,131,120,0.30863683363970584) 100%);}