.tuning-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    background: radial-gradient(circle, rgba(2,0,36,0.7260037804184174) 0%, rgba(27,153,139,1) 35%, rgba(20,131,120,0.30863683363970584) 100%);
}
.guitar-head{
    position: absolute;
    display: flex;
    height: 60%;
    bottom: 0px;
}
.guitar-head img{
    height: 100%;
    flex-shrink: 0;
}